@charset "UTF-8";
html {
  color: #1a2f53;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  display: flex;
}

.main {
  width: 77vw;
}
@media screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: normal;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

:where(nav li)::before {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

input,
select {
  word-break: break-all;
  border: none;
  appearance: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

img,
svg {
  width: 100%;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------
FUKKOのポップアップ消す用
------------------------- */
#ttr116600 [data-ttr=container] {
  display: none;
}

#ttr104180 {
  display: none;
}

header {
  left: 0;
  padding: 2.15vw 2.7vw;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 767px) {
  header {
    left: 0;
    padding: 0;
    position: absolute;
    top: 4%;
    width: 100%;
  }
}
header .header-logo {
  width: 8.5vw;
}
@media screen and (max-width: 767px) {
  header .header-logo {
    text-align: center;
    width: 100%;
  }
  header .header-logo img {
    height: 56px;
    width: 114px;
  }
}

.footer {
  background: #f6fafc;
  padding: 5.5vw 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 80px 16px;
  }
}
.footer .footer-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 82%;
}
@media screen and (max-width: 767px) {
  .footer .footer-inner {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer-left {
    text-align: center;
  }
}
.footer .footer-left h3 {
  font-size: 1.7vw;
}
@media screen and (max-width: 767px) {
  .footer .footer-left h3 {
    font-size: 24px;
  }
}
.footer .footer-left .footer-left-text01 {
  font-size: 0.9vw;
  margin-top: 0.8vw;
}
@media screen and (max-width: 767px) {
  .footer .footer-left .footer-left-text01 {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 14px;
  }
}
.footer .footer-left .footer-left-text02 {
  font-size: 0.9vw;
  margin-top: 2vw;
}
@media screen and (max-width: 767px) {
  .footer .footer-left .footer-left-text02 {
    font-size: 14px;
    margin-top: 40px;
  }
}
.footer .footer-left a {
  display: inline-block;
  font-size: 1.55vw;
  font-weight: bold;
  margin-top: 1.1vw;
}
@media screen and (max-width: 767px) {
  .footer .footer-left a {
    font-size: 28px;
  }
}
.footer .footer-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer .footer-right {
    align-items: center;
    margin-top: 56px;
  }
}
.footer .footer-right img {
  margin-right: 0.4vw;
  width: 45%;
}
@media screen and (max-width: 767px) {
  .footer .footer-right img {
    margin-right: 0;
    width: 80%;
  }
}
.footer .footer-right p {
  font-size: 0.8vw;
  margin-top: 1.2vw;
}
@media screen and (max-width: 767px) {
  .footer .footer-right p {
    font-size: 12px;
    margin-top: 20px;
  }
}

.sidebar {
  background: linear-gradient(#0072ad, #07c1d0);
  text-align: center;
  position: relative;
  width: 23vw;
}
@media screen and (max-width: 767px) {
  .sidebar {
    height: 100%;
    text-align: center;
    position: fixed;
    width: 100vw;
    z-index: 98;
  }
}
.sidebar .sidebar-inner {
  top: 2%;
  position: fixed;
}
.sidebar .sidebar-inner img {
  width: 80%;
}
.sidebar .sidebar-inner .sidebar-demo {
  height: 60vh;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 98;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar .sidebar-inner .sidebar-demo {
    height: 40vh;
  }
}
@media screen and (max-width: 767px) {
  .sidebar .sidebar-inner .sidebar-demo {
    height: 70vh;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .sidebar .sidebar-inner .sidebar-demo {
    height: 51vh;
  }
}
.sidebar .sidebar-inner .sidebar-demo iframe {
  width: 14.7vw;
  height: 48.6vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  top: 9.8%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar .sidebar-inner .sidebar-demo iframe {
    height: 31.1vh;
  }
}
@media screen and (max-width: 767px) {
  .sidebar .sidebar-inner .sidebar-demo iframe {
    height: 56.3vh;
    width: 58.7vw;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .sidebar .sidebar-inner .sidebar-demo iframe {
    height: 39.3vh;
  }
}
.sidebar .sidebar-inner a {
  align-items: center;
  background: linear-gradient(to right, #d751dd, #8916c7);
  border-radius: 5px;
  color: #fff;
  display: grid;
  font-size: 0.95vw;
  font-weight: bold;
  gap: 0.4vw;
  grid-template-columns: max-content 1fr;
  margin: 3.5vw auto 0;
  padding: 0.75vw 1vw;
  width: 85%;
}
@media screen and (max-width: 767px) {
  .sidebar .sidebar-demo-sp {
    bottom: 0;
    height: 87vh;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .sidebar .sidebar-demo-sp iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sidebar.hidden {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
  }
  .sidebar.visible {
    visibility: visible;
    opacity: 1;
  }
}
.sub-title {
  color: #1a2f53;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.6vw;
  position: relative;
}
.sub-title:after {
  background: #07c1d0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 4vw;
}
@media screen and (max-width: 767px) {
  .sub-title {
    font-size: 24px;
    padding-bottom: 14px;
  }
  .sub-title:after {
    height: 3px;
    width: 50px;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

/* ご質問はこちらから */
.question {
  height: 210px;
  left: 0;
  position: fixed;
  top: 50%;
  width: 50px;
  z-index: 98;
}
@media screen and (max-width: 767px) {
  .question {
    height: 48px;
    left: 0;
    position: fixed;
    top: 4%;
    width: 48px;
    z-index: 98;
  }
}
@media screen and (max-width: 767px) {
  .question .question-sp {
    align-items: center;
    background: #07c1d0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .question .question-sp img {
    height: 23px;
    width: 23px;
  }
}

/* 1番上 */
.introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 0 7.5vw;
}
@media screen and (max-width: 767px) {
  .introduction {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}
.introduction .introduction-left {
  margin-top: 10vw;
  padding-bottom: 6.7vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left {
    margin-top: 112px;
    padding-bottom: 80px;
  }
}
.introduction .introduction-left .introduction-top-textArea {
  color: #fff;
  display: grid;
  font-size: 2.1vw;
  font-weight: bold;
  gap: 1.1vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-top-textArea {
    font-size: 22px;
    gap: 20px;
    text-align: center;
  }
}
.introduction .introduction-left .introduction-top-textArea p {
  background: linear-gradient(to right, #07c1d0, #0072ad);
  border-radius: 2px;
  line-height: 1;
  text-align: center;
  padding: 1vw;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-top-textArea p {
    margin: 0 auto;
    text-align: center;
    padding: 12px 16px;
    width: fit-content;
  }
}
.introduction .introduction-left .introduction-title-text {
  font-size: 1.35vw;
  font-weight: bold;
  margin-top: 2.1vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-title-text {
    font-size: 14px;
    line-height: 2;
    margin-top: 32px;
    text-align: center;
  }
}
.introduction .introduction-left .introduction-title-image {
  margin-top: 1.35vw;
  width: 23vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-title-image {
    margin: 14px auto 0;
    width: 233px;
  }
}
.introduction .introduction-left .introduction-bottom-text {
  color: #1a2f53;
  font-size: 1vw;
  line-height: 2;
  margin-top: 1.5vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-bottom-text {
    font-size: 14px;
    margin-top: 24px;
    text-align: center;
  }
}
.introduction .introduction-left .introduction-bottom-button {
  align-items: center;
  background: #0a8fd6;
  border-radius: 32px;
  box-shadow: 0px 3px 6px rgba(9, 143, 214, 0.28);
  color: #fff;
  display: flex;
  font-size: 1vw;
  font-weight: bold;
  justify-content: center;
  margin-top: 3vw;
  padding: 1.1vw;
  width: 43%;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-left .introduction-bottom-button {
    font-size: 16px;
    margin: 48px auto 0;
    padding: 18px;
    width: 75%;
  }
}
.introduction .introduction-right {
  align-items: flex-end;
  background-image: url("../img/introduction/introduction-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-right {
    background-image: url("../img/introduction/introduction-bg-sp.png");
    background-size: 120%;
    height: 60vh;
    position: relative;
  }
}
.introduction .introduction-right .introduction-right-textArea {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 4.2vw 2.8vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-right .introduction-right-textArea {
    background: none;
    flex-direction: column-reverse;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 0 6vw 0 12vw;
    position: absolute;
  }
}
.introduction .introduction-right .introduction-right-textArea p {
  color: #fff;
  font-size: 1.3vw;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-right .introduction-right-textArea p {
    font-size: 18px;
  }
}
.introduction .introduction-right .introduction-right-textArea img {
  width: 8vw;
}
@media screen and (max-width: 767px) {
  .introduction .introduction-right .introduction-right-textArea img {
    margin-left: auto;
    width: 30vw;
  }
}

/* ニュース */
.news {
  padding: 10vw 7.5vw 5vw;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 80px 16px;
  }
}
.news .news-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news .news-head h2 {
  color: #1a2f53;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.6vw;
  position: relative;
}
@media screen and (max-width: 767px) {
  .news .news-head h2 {
    font-size: 24px;
    padding-bottom: 12px;
  }
}
.news .news-head h2:after {
  background: #07c1d0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  position: absolute;
  width: 4vw;
}
@media screen and (max-width: 767px) {
  .news .news-head h2:after {
    height: 3px;
    width: 80%;
  }
}
.news .news-head .news-button {
  align-items: center;
  display: grid;
  font-size: 1.1vw;
  font-weight: bold;
  gap: 1.1vw;
  grid-template-columns: 1fr max-content;
}
@media screen and (max-width: 767px) {
  .news .news-head .news-button {
    font-size: 14px;
    gap: 16px;
  }
}
.news .news-swiper {
  margin-top: 2.3vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .news .news-swiper {
    margin-top: 48px;
  }
}
.news .news-swiper .news-swiper-list {
  width: 100%;
}
.news .news-swiper .news-swiper-items a img {
  height: 14vw;
}
@media screen and (max-width: 767px) {
  .news .news-swiper .news-swiper-items a img {
    height: 157px;
  }
}
.news .news-swiper .news-swiper-items a time {
  display: inline-block;
  font-size: 1vw;
  margin-top: 0.8vw;
}
@media screen and (max-width: 767px) {
  .news .news-swiper .news-swiper-items a time {
    font-size: 12px;
    margin-top: 8px;
  }
}
.news .news-swiper .news-swiper-items a p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.15vw;
  font-weight: bold;
  margin-top: 0.5vw;
}
@media screen and (max-width: 767px) {
  .news .news-swiper .news-swiper-items a p {
    font-size: 14px;
    margin-top: 8px;
  }
}
.news .news-swiper .swiper-button-prev,
.news .news-swiper .swiper-button-next {
  height: 3.5vw;
  width: 3.5vw;
}
.news .news-swiper .swiper-button-prev {
  left: 0;
  top: 35%;
}
.news .news-swiper .swiper-button-prev::after {
  content: "";
}
.news .news-swiper .swiper-button-next {
  right: 0;
  top: 35%;
}
.news .news-swiper .swiper-button-next::after {
  content: "";
}

/* 2番目 */
.realization {
  background: #f6fafc;
  background-image: url("../img/realization/circle.png");
  background-position: left bottom;
  background-size: 80vw;
  background-repeat: no-repeat;
  display: flex;
  gap: 4vw;
  justify-content: space-between;
  padding: 8vw 4vw 8vw 1vw;
}
@media screen and (max-width: 767px) {
  .realization {
    background-image: url("../img/realization/circle-sp.png");
    background-size: 100vw;
    flex-direction: column-reverse;
    gap: 56px;
    padding: 80px 16px 48px;
  }
}
.realization .realization-left {
  text-align: center;
}
.realization .realization-left img {
  width: 27vw;
}
@media screen and (max-width: 767px) {
  .realization .realization-left img {
    width: 85%;
  }
}
.realization .realization-right {
  margin-top: 6vw;
}
@media screen and (max-width: 767px) {
  .realization .realization-right {
    margin-top: 0;
  }
}
.realization .realization-right ul {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 22vw);
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.realization .realization-right ul li {
  background: #fff;
  box-shadow: 0px 3px 12px rgba(10, 104, 154, 0.1);
  padding: 1.35vw 0.8vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul li {
    padding: 24px 8px;
  }
}
.realization .realization-right ul li p {
  color: #1a2f53;
  font-size: 1vw;
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul li p {
    font-size: 14px;
  }
}
.realization .realization-right ul li div {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  margin-top: 0.5vw;
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul li div {
    gap: 4px;
    margin-top: 12px;
  }
}
.realization .realization-right ul li div img {
  width: 1vw;
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul li div img {
    width: 25px;
  }
}
.realization .realization-right ul li div p {
  color: #1a2f53;
  font-size: 1.4vw;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .realization .realization-right ul li div p {
    font-size: 21px;
  }
}
.realization .realization-right .realization-text01 {
  color: #1a2f53;
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 3.2vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .realization .realization-right .realization-text01 {
    font-size: 24px;
    margin-top: 56px;
  }
}
.realization .realization-right .realization-text02 {
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 1.4vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .realization .realization-right .realization-text02 {
    font-size: 32px;
    margin-top: 18px;
  }
}
.realization .realization-right .realization-text02 span {
  color: #07c1d0;
}

/* CVR */
.cvr {
  padding: 10vw 8.5vw;
}
@media screen and (max-width: 767px) {
  .cvr {
    padding: 80px 16px;
  }
}
.cvr .cvr-text {
  color: #1a2f53;
  font-size: 1vw;
  line-height: 2;
  margin-top: 2.2vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-text {
    font-size: 14px;
    margin-top: 40px;
  }
}
.cvr .cvr-chart {
  background: #f6fafc;
  border-radius: 40px;
  margin-top: 4.5vw;
  padding: 0 4vw 6vw 4vw;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart {
    margin-top: 64px;
    padding: 0 11.5vw 72px 11.5vw;
  }
}
.cvr .cvr-chart-title {
  background: #07C1D0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.65vw 5.2vw;
  text-align: center;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-title {
    font-size: 18px;
    padding: 12px 30px;
  }
}
.cvr .cvr-chart-text {
  color: #1a2f53;
  font-size: 2.2vw;
  font-weight: bold;
  margin-top: 2.8vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-text {
    font-size: 24px;
  }
}
.cvr .cvr-chart-text span {
  color: #07c1d0;
  font-size: 3vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-text span {
    font-size: 44px;
  }
}
.cvr .cvr-chart-list {
  display: grid;
  gap: 4.7vw;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list {
    gap: 28vw;
    grid-template-columns: 1fr;
    margin-top: 19vw;
  }
}
.cvr .cvr-chart-list li {
  display: grid;
  gap: 1.1vw;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li {
    gap: 16px;
  }
}
.cvr .cvr-chart-list li img {
  position: absolute;
}
.cvr .cvr-chart-list li .first-01 {
  left: -0.5vw;
  top: -3vw;
  width: 6vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .first-01 {
    left: 5%;
    top: -10vw;
    width: 22vw;
  }
}
.cvr .cvr-chart-list li .first-02 {
  left: 4.8vw;
  top: -4.1vw;
  width: 4vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .first-02 {
    left: 36.8%;
    top: -16.1vw;
    width: 15.6vw;
  }
}
.cvr .cvr-chart-list li .second-01 {
  left: -0.7vw;
  top: -3vw;
  width: 6.5vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .second-01 {
    left: 6%;
    top: -7vw;
    width: 22vw;
  }
}
.cvr .cvr-chart-list li .second-02 {
  left: 4.8vw;
  top: -4.1vw;
  width: 4vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .second-02 {
    left: 36.8%;
    top: -16.1vw;
    width: 15.6vw;
  }
}
.cvr .cvr-chart-list li .third-01 {
  left: -0.5vw;
  top: -3vw;
  width: 6vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .third-01 {
    left: 5%;
    top: -10vw;
    width: 22vw;
  }
}
.cvr .cvr-chart-list li .third-02 {
  left: 4.8vw;
  top: -4.1vw;
  width: 4vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list li .third-02 {
    left: 36.8%;
    top: -16.1vw;
    width: 15.6vw;
  }
}
.cvr .cvr-chart-list li canvas {
  width: 100%;
}
.cvr .cvr-chart-list p {
  color: #1a2f53;
  font-size: 1.1vw;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-list p {
    font-size: 16px;
  }
}
.cvr .cvr-chart-arrow {
  bottom: -4vw;
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0px);
  width: 18vw;
}
@media screen and (max-width: 767px) {
  .cvr .cvr-chart-arrow {
    bottom: -2%;
    width: 212px;
  }
}

/* バナー */
/* 共通 */
.banner {
  padding: 5.5vw 10.5vw;
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 80px 16px;
  }
}
.banner .banner-inner {
  background: #fff;
  background-image: url("../img/banner/banner-02.png");
  background-size: 62vw;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 1.1vw 1.8vw 1.1vw 3vw;
}
@media screen and (max-width: 767px) {
  .banner .banner-inner {
    background-size: 100%;
    background-image: url("../img/banner/banner-02-sp.png");
    background-position: bottom -10px right;
    flex-direction: column;
    padding: 48px 32px;
  }
}
.banner .banner-inner-left {
  padding-top: 4.2vw;
  text-align: center;
}
.banner .banner-inner-left-text01 {
  color: #1a2f53;
  font-size: 1.75vw;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .banner .banner-inner-left-text01 {
    font-size: 24px;
  }
}
.banner .banner-inner-left-text02 {
  font-size: 2.3vw;
  font-weight: bold;
  margin-top: 1.1vw;
}
@media screen and (max-width: 767px) {
  .banner .banner-inner-left-text02 {
    font-size: 32px;
    margin-top: 22px;
  }
}
@media screen and (max-width: 767px) {
  .banner .banner-inner-right {
    margin-top: 40px;
    text-align: center;
  }
}
.banner .banner-inner-right img {
  width: 14vw;
}
@media screen and (max-width: 767px) {
  .banner .banner-inner-right img {
    width: 60%;
  }
}

/* バナー2 */
.banner-dark-blue {
  background: #1A2F53;
}
.banner-dark-blue .banner-inner-left-text02 span {
  color: #0072AD;
}
.banner-dark-blue .banner-inner-left-button {
  align-items: center;
  background: linear-gradient(to right, #d751dd, #8916c7);
  border-radius: 5px;
  color: #fff;
  display: grid;
  font-size: 0.95vw;
  font-weight: bold;
  gap: 0.4vw;
  grid-template-columns: max-content 1fr;
  margin: 2.5vw auto 0;
  padding: 1vw;
  width: 55%;
}

/* バナー2 */
.banner-light-blue {
  background: #0072ad;
}
.banner-light-blue .banner-inner-left-text02 span {
  color: #07c1d0;
}
.banner-light-blue .banner-inner-left-button {
  background: #0a8fd6;
  border-radius: 28px;
  box-shadow: 0px 3px 6px rgba(9, 143, 214, 0.28);
  color: #fff;
  display: inline-block;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 1.7vw;
  padding: 1vw 2.4vw;
}
@media screen and (max-width: 767px) {
  .banner-light-blue .banner-inner-left-button {
    font-size: 16px;
    margin-top: 40px;
    padding: 16px 56px;
  }
}

/* SwipeLPの特長 */
/* 共通 */
.feature-point {
  align-items: center;
  display: grid;
  gap: 6px;
  grid-template-columns: 10px 1fr;
}
.feature-point .circle {
  background: linear-gradient(#07c1d0, #0072ad);
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.feature-point p {
  color: #1a2f53;
  font-size: 0.85vw;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .feature-point p {
    font-size: 12px;
  }
}

.feature-inner-title {
  color: #0072ad;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.7vw;
}
@media screen and (max-width: 767px) {
  .feature-inner-title {
    font-size: 20px;
    margin-top: 8px;
  }
}

.feature-text {
  color: #1a2f53;
  font-size: 1.1vw;
  line-height: 2;
  margin-top: 1.7vw;
}
@media screen and (max-width: 767px) {
  .feature-text {
    font-size: 14px;
    margin-top: 24px;
  }
}

/* 奇数 */
.feature-odd-inner {
  background: #fff;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  gap: 4.5vw;
  padding: 4vw 4vw 2.5vw 8vw;
  position: relative;
  width: 70vw;
}
@media screen and (max-width: 767px) {
  .feature-odd-inner {
    flex-direction: column;
    padding: 56px 24px;
    width: 93vw;
  }
}

.feature-odd-image {
  background-image: url("../img/feature/feature-circle-01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -29vw;
  height: 100%;
  left: 8%;
  position: absolute;
  width: 12vw;
}
@media screen and (max-width: 767px) {
  .feature-odd-image {
    bottom: -5%;
    height: 74px;
    left: 8%;
    position: absolute;
    width: 103px;
  }
}

/* 偶数 */
.feature-even {
  background-image: url("../img/feature/circle-02.png");
  background-size: 80vw;
  background-position: -2vw 6vw;
  background-repeat: no-repeat;
  padding-bottom: 8vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .feature-even {
    background-image: url("../img/feature/circle-02-sp.png");
    background-size: 55vw;
    background-position: bottom 0 left 0;
    padding-bottom: 56px;
  }
}

.feature-even-inner {
  align-items: center;
  background: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  display: flex;
  gap: 4.5vw;
  margin-left: auto;
  padding: 4vw 8vw 4vw 4vw;
  position: relative;
  width: 70vw;
}
@media screen and (max-width: 767px) {
  .feature-even-inner {
    flex-direction: column-reverse;
    padding: 56px 24px;
    width: 93vw;
  }
}

.feature-even-image {
  background-image: url("../img/feature/feature-circle-02.svg");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -25vw;
  height: 100%;
  right: 8%;
  position: absolute;
  width: 12vw;
}
@media screen and (max-width: 767px) {
  .feature-even-image {
    bottom: -5%;
    height: 74px;
    right: 8%;
    position: absolute;
    width: 103px;
  }
}

.feature-even-left img {
  width: 60vw;
}
@media screen and (max-width: 767px) {
  .feature-even-left img {
    width: 100vw;
  }
}

/* 1つ目 */
.feature {
  background: #f6fafc;
  padding-top: 7.5vw;
}
@media screen and (max-width: 767px) {
  .feature {
    padding-top: 88px;
  }
}

.feature-01 {
  background-image: url("../img/feature/circle.png");
  background-size: 80vw;
  background-position: 0vw 17vw;
  background-repeat: no-repeat;
  margin-top: 6vw;
  padding-bottom: 8vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .feature-01 {
    background-image: url("../img/feature/circle-sp.png");
    background-size: 70vw;
    background-position: bottom 0 right 0;
    margin-top: 40px;
    padding-bottom: 56px;
  }
}

.feature-01-right p {
  color: #1a2f53;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature-01-right p {
    font-size: 14px;
  }
}
.feature-01-right img {
  margin-top: 1.6vw;
  vertical-align: bottom;
  width: 140vw;
}
@media screen and (max-width: 767px) {
  .feature-01-right img {
    margin-top: 24px;
    width: 100%;
  }
}

/* 3つ目 */
.feature-03 {
  background-image: url("../img/feature/circle.png");
  background-size: 80vw;
  background-position: 0vw 17vw;
  background-repeat: no-repeat;
  padding-bottom: 8vw;
}
@media screen and (max-width: 767px) {
  .feature-03 {
    background-image: url("../img/feature/circle-sp.png");
    background-size: 70vw;
    background-position: bottom 0 right 0;
    padding-bottom: 56px;
  }
}

.feature-03-inner {
  padding-bottom: 0;
}

/* SwipeLP配信事例 */
.delivery {
  background: #f6fafc;
  padding: 7.5vw 0 7.5vw;
}
@media screen and (max-width: 767px) {
  .delivery {
    padding: 80px 16px;
  }
}

.delivery-list {
  display: grid;
  gap: 3vw;
  margin: 3vw auto 0;
  width: 82%;
}
@media screen and (max-width: 767px) {
  .delivery-list {
    gap: 24px;
    margin-top: 40px;
    width: 100%;
  }
}
.delivery-list li {
  background: #fff;
  border-radius: 40px;
  padding: 3.7vw;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .delivery-list li {
    padding: 40px 24px 24px;
  }
}
.delivery-list li .delivery-case {
  align-items: center;
  display: grid;
  gap: 6px;
  grid-template-columns: 10px 1fr;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .delivery-list li .delivery-case {
    gap: 4px;
  }
}
.delivery-list li .delivery-case .circle {
  background: linear-gradient(#07c1d0, #0072ad);
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.delivery-list li .delivery-case p {
  color: #1a2f53;
  font-size: 0.85vw;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .delivery-list li .delivery-case p {
    font-size: 12px;
  }
}
.delivery-list li h3 {
  color: #0072ad;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 1vw;
}
@media screen and (max-width: 767px) {
  .delivery-list li h3 {
    font-size: 24px;
    margin-top: 8px;
  }
}
.delivery-list li .delivery-case01-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-top: 2.7vw;
}
.delivery-list li .delivery-case01-inner-left {
  display: grid;
  gap: 2vw;
}
.delivery-list li .delivery-case01-inner-left p {
  font-size: 1.1vw;
  font-weight: bold;
}
.delivery-list li .delivery-case01-inner-left img {
  width: 13vw;
}
.delivery-list li .delivery-case01-inner-arrow {
  width: 4.7vw;
}
.delivery-list li .delivery-case01-inner-right {
  background: linear-gradient(#07c1d0, #0072ad);
  border-radius: 40px;
  display: flex;
  gap: 2.5vw;
  padding: 3.5vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-left {
  display: grid;
  gap: 2vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-left p {
  color: #fff;
  font-size: 1.1vw;
  font-weight: bold;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-left img {
  width: 13vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-textArea {
  padding-top: 2vw;
  width: 100%;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-textArea .delivery-case01-inner-right-right-text01 {
  background: #f6fafc;
  border-radius: 4px;
  color: #07c1d0;
  font-size: 1vw;
  font-weight: bold;
  padding: 0.1vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-textArea .delivery-case01-inner-right-right-text02 {
  color: #fff;
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 2vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-textArea .delivery-case01-inner-right-right-text03 {
  color: #fff;
  font-size: 2.4vw;
  font-weight: bold;
  margin-top: 0.5vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-qr {
  display: grid;
  gap: 1vw;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-qr p {
  color: #fff;
  font-size: 0.8vw;
  font-weight: bold;
}
.delivery-list li .delivery-case01-inner-right .delivery-case01-inner-right-right .delivery-case01-inner-right-right-qr img {
  margin: 0 auto;
  width: 12vw;
}
@media screen and (max-width: 767px) {
  .delivery-list li .delivery-inner-sp {
    background: linear-gradient(#07c1d0, #0072ad);
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 32px;
    padding: 32px 24px;
    width: 100%;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-textArea01-sp {
    background: #fff;
    border-radius: 4px;
    color: #07c1d0;
    font-size: 18px;
    padding: 4px 0;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-textArea02-sp {
    font-size: 18px;
    margin-top: 16px;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-textArea03-sp {
    font-size: 42px;
    margin-top: 8px;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-textArea04-sp {
    font-size: 14px;
    margin-top: 20px;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-scrollArea {
    margin-top: 20px;
    overflow-x: auto;
    width: calc(100vw - 128px);
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-scrollArea img {
    max-width: 150vw;
    margin-left: 4.2vw;
    width: 150vw;
  }
  .delivery-list li .delivery-inner-sp .delivery-inner-link {
    display: inline-block;
    font-size: 16px;
    margin-top: 28px;
    text-decoration: underline;
  }
}

/* SwipeLP活用事例 */
.delivery-banner {
  padding: 7.5vw 0;
}
@media screen and (max-width: 767px) {
  .delivery-banner {
    padding: 80px 16px;
  }
}
.delivery-banner .delivery-banner-inner {
  border-radius: 40px;
  margin: 0 auto;
  width: 82%;
}
@media screen and (max-width: 767px) {
  .delivery-banner .delivery-banner-inner {
    width: 100%;
  }
}
.delivery-banner ul {
  align-items: center;
  display: grid;
  justify-content: space-between;
  gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4vw;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
  }
}
.delivery-banner ul li {
  background: #f6fafc;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(10, 104, 154, 0.31);
  overflow: hidden;
}
.delivery-banner ul .delivery-banner-head {
  background: linear-gradient(to right, #07c1d0, #0072ad);
  padding: 0.75vw 0;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-head {
    padding: 12px 0;
  }
}
.delivery-banner ul .delivery-banner-head h3 {
  color: #fff;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-head h3 {
    font-size: 20px;
  }
}
.delivery-banner ul .delivery-banner-body {
  align-items: flex-start;
  display: flex;
  gap: 1.2vw;
  justify-content: space-between;
  padding: 2.5vw 1.45vw;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body {
    display: grid;
    gap: 20px;
    padding: 24px 20px 32px 20px;
  }
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-sp-title {
    color: #0172ad;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4vw;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner {
    display: flex;
    gap: 16px;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-left {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-left {
    width: calc((100% - 16px) / 2);
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-left p {
  color: #0172ad;
  font-size: 1.25vw;
  font-weight: bold;
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-left img {
  margin-top: 1.8vw;
  width: 85%;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-left img {
    margin-top: 0;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right {
  color: #0172ad;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right {
    width: calc((100% - 16px) / 2);
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text01 {
  align-items: center;
  background: #0172ad;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  padding: 0.4vw 0.6vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text01 {
    font-size: 12px;
    padding: 4px 0;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text02 {
  font-size: 1.1vw;
  margin-top: 1.1vw;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text02 {
    font-size: 14px;
    margin-top: 16px;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text03 {
  font-size: 2.5vw;
  margin-top: 1.1vw;
}
@media screen and (max-width: 767px) {
  .delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text03 {
    font-size: 34px;
  }
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-text04 {
  font-size: 0.85vw;
  margin-top: 1.5vw;
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right img {
  margin-top: 0.8vw;
  width: 85%;
}
.delivery-banner ul .delivery-banner-body .delivery-banner-body-inner .delivery-banner-right .delivery-banner-right-button {
  background: #fff;
  border: 1px solid #0072ad;
  border-radius: 20px;
  display: inline-block;
  font-size: 12px;
  margin-top: 16px;
  padding: 8px 0;
  width: 100%;
}

/* 料金プラン */
.price {
  background: #f6fafc;
  padding: 9vw 0;
}
@media screen and (max-width: 767px) {
  .price {
    padding: 80px 16px;
  }
}
.price .price-list {
  display: grid;
  gap: 4.5vw;
  margin: 0 auto;
  text-align: center;
  width: 82%;
}
@media screen and (max-width: 767px) {
  .price .price-list {
    gap: 80px;
    width: 100%;
  }
}
.price .price-list li .price-text {
  color: #1a2f53;
  font-size: 1vw;
  line-height: 1.8;
  margin-top: 2vw;
}
@media screen and (max-width: 767px) {
  .price .price-list li .price-text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 40px;
  }
}
.price .price-list li img {
  margin-top: 5vw;
}
@media screen and (max-width: 767px) {
  .price .price-list li img {
    margin-top: 40px;
  }
}

/* お気軽にお問い合わせください */
.contact {
  background: #fff;
  background-image: url("../img/contact/contact-bg.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 5vw 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact {
    background-image: url("../img/contact/contact-bg-sp.png");
    background-size: 100vw;
    background-position: left;
    padding: 64px 16px;
  }
}
.contact .contact-text {
  font-size: 1vw;
  line-height: 2.2;
  margin-top: 2.5vw;
}
@media screen and (max-width: 767px) {
  .contact .contact-text {
    font-size: 14px;
    margin-top: 40px;
  }
}
.contact ul {
  align-items: center;
  display: grid;
  gap: 1.35vw;
  grid-template-columns: repeat(3, 21vw);
  justify-content: center;
  margin-top: 2.7vw;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact ul {
    gap: 16px;
    grid-template-columns: 1fr;
    margin: 48px auto 0;
    width: 78vw;
  }
}
.contact ul li a {
  align-items: center;
  background: #f6fafc;
  border-radius: 16px;
  box-shadow: 0px 3px 4px rgba(10, 104, 154, 0.31);
  color: #393939;
  display: grid;
  font-size: 1.1vw;
  font-weight: bold;
  height: 7vw;
  gap: 1vw;
  grid-template-columns: max-content 1fr;
  padding: 1.65vw 1.9vw;
}
@media screen and (max-width: 767px) {
  .contact ul li a {
    font-size: 16px;
    gap: 16px;
    height: auto;
    padding: 28px 22px;
  }
}
.contact ul li:first-of-type img {
  width: 3.3vw;
}
@media screen and (max-width: 767px) {
  .contact ul li:first-of-type img {
    width: 47px;
  }
}
.contact ul li:nth-of-type(2) img {
  width: 4.8vw;
}
@media screen and (max-width: 767px) {
  .contact ul li:nth-of-type(2) img {
    width: 72px;
  }
}
.contact ul li:last-of-type img {
  width: 3.8vw;
}
@media screen and (max-width: 767px) {
  .contact ul li:last-of-type img {
    width: 53px;
  }
}

/* =================
SPのみ
==================*/
@media screen and (max-width: 767px) {
  /* デモ画面を見る */
  .demo-button {
    align-items: center;
    background: #fff;
    border: 4px solid #0072ad;
    border-radius: 50%;
    color: #0072ad;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 83px;
    justify-content: center;
    right: 2%;
    position: fixed;
    text-align: center;
    top: 2%;
    width: 83px;
    z-index: 99;
  }
  /* 無料デモ作成依頼はこちらから */
  .reservation-button {
    bottom: 2%;
    left: 50%;
    position: fixed;
    width: 100%;
    z-index: 98;
  }
  .reservation-button a {
    align-items: center;
    background: linear-gradient(to right, #d751dd, #8916c7);
    border-radius: 5px;
    color: #fff;
    display: grid;
    font-size: 16px;
    font-weight: bold;
    gap: 12px;
    grid-template-columns: max-content 1fr;
    padding: 16px 24px;
    transform: translate(-50%);
    width: 85%;
  }
}/*# sourceMappingURL=style.css.map */